@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
}

/* ::-webkit-scrollbar-thumb {
  background-color: #B1B5C3;
  border-radius: 10px;
} */

/* ::-webkit-scrollbar-track {
  background-color: #F4F5F6; 
} */


body {
  background-color: #FFFFFF;
}
